html, body {
    width: 100vw;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 200;
}

.video-container {
    width: 100vw;
    video {
      position: absolute;
      padding: 0%;
      margin: 0%;
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    .skip-btn {
       position: absolute;
       bottom: 10%;
       right: 10%;
       background: transparent;
       color: #fff;
       padding: 1%;
       font-size: 1em;
       &:hover {
           background: #fff;
           color: #000;
           transition: 0.5s;
           border: 1px solid transparent;
       }
       i {
           padding-left: 5px;
           display: inline;
       }
    }
}

.thumbnail {
    // background-color: #999;
    width: 100%;
    height: 100vh;
    background-image: url(https://s3-us-west-2.amazonaws.com/dt-becker-portfolio/sunset-close.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    .name-container {
        text-align: center;
        // display: flex;
        // align-content: center;
        h3 {
          font-size: 3em;
          font-weight: 300;
          color: #fff;
          display: inline-block;
          padding: 0 2%;

        }
        .logo {
          width: 15vw;
        //   height: 20vw;
          margin-bottom: -1.5vw;
          padding: -1%;
          margin-right: -3%;
          margin-left: -2%;

        }
        .profile-statement {
          font-size: 1em;
          color: #fff;
        }
      }
      
      .App-intro {
        color: #fff;
        width: 60%;
        padding: 2% 5% 5% 5%;
        margin: 0 auto;
        background:rgba(255,255,255, 0.2);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        .controls {
            text-align: center;
            button {
                border: none;
                background: transparent;
                margin: 0% 1%;
                i {
                    color: #fff;
                    font-size: 4em;
                    &:hover {
                        color: #888;
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}